body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .h1, .h2, .h3 {
    background-position: center;
    background-size: cover;
    background-image: url("/w3images/coffeehouse.jpg");
    min-height: 75%;
  }
  
  .p {
    color: green;
  }